<h2 class = "mb-5 "> Crear nuevo usuario</h2>

<div class = "row row-cols-3 justify-content-center">
    
    <form >
       
        <div class = "mb-3">
            <label for="nombre">Nombre</label>
            <input id = "nombre" type="text" placeholder="Nombre" class = "form-control">
        </div>
    
        <div class = "mb-3">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input id = "apellidoPaterno" type="text" placeholder="Apellido Paterno" class = "form-control">
        </div>
    
        <div class = "mb-3">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input id = "apellidoMaterno" type="text" placeholder="Apellido Materno" class = "form-control">
        </div>
    
        <div class = "mb-3">
            <label for="correoElectronico">Correo Electronico</label>
            <input id = "correoElectronico" type="text" placeholder="Correo Electronico" class = "form-control">
        </div>
    
        <div class = "mb-3">
            <label for="password">Contraseña</label>
            <input id = "password" type="text" placeholder="Contraseña" class = "form-control">
        </div>
    
        <div class = "text-edn">
            <button type="button" class="btn btn-ligtn" routerLink="/">Cancelar</button>
    
            <button class = "btn btn-primary ms-2"> Crear Usuario</button>
        </div> 
    </form>

</div>