<div *ngIf="message" [ngClass]="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}" class="alert mt-3">
  {{ message }}
</div>
<form #formulario="ngForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="nombre" class="font-weight-bold">Nombre</label>
    <input
      type="text"
      id="nombre"
      name="nombre"
      [(ngModel)]="tipoTaller.nombre"
      class="form-control form-control-lg shadow-sm"
      placeholder="Ingrese el nombre"
      required
    />
  </div>

  <div class="form-group mt-3">
    <label for="descripcion" class="font-weight-bold">Descripción</label>
    <textarea
      id="descripcion"
      name="descripcion"
      [(ngModel)]="tipoTaller.descripcion"
      class="form-control form-control-lg shadow-sm"
      rows="4"
      placeholder="Ingrese la descripción"
      required
    ></textarea>
  </div>

  <div class="form-group mt-4 text-center">
    <button type="submit" [disabled]="!formulario.valid" class="btn btn-lg btn-primary px-5 py-3 shadow-sm" style="background-color: #9D2449">
      <i class="pi pi-save"></i> Guardar
    </button>
  </div>
</form>
